p {
  line-height: 2;
}
.title {
  color: #69c;
}
.title {
  line-height: 2;
}
.post .title {
  font-weight: 700;
}
@media (max-width: 720px) {
  .title {
    color: #369;
  }
  .post .title {
    font-weight: 400;
  }
  #footer {
    background: #ccc;
  }
  #title, div a {
    color: #69c;
  }
  .title {
    line-height: 1.2;
  }
}
.title:hover {
  font-weight: 700;
}
#title, div a {
  color: #69c;
}
